@use "../index.scss" as *;
.location {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	border-radius: 12px;
	.p {
		display: inline-block;
	}
	span {
		color: $textSecondary;
		font-weight: bold;
	}
}
// Responsive
/* md */
@media (min-width: 768px) {
	.location {
		// width: 100px !important;
	}
}
