@use "../index.scss" as *;
.location {
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	.city {
		font-size: 2rem;
		span {
			color: $textSecondary;
			font-weight: bold;
		}
	}
}
// RESPONSIVE
// * xs */
@media (min-width: 475px) {
}
/* sm */
@media (min-width: 640px) {
	.location .city {
		font-size: 2.15rem;
	}
}
/* md */
@media (min-width: 768px) {
	.currentTime {
		font-size: 1.1rem;
	}
	.location .city {
		font-size: 2.25rem;
	}
}
/* lg */
@media (min-width: 1024px) {
	.location .city {
		font-size: 2.5rem;
	}
}
