@use "../index.scss" as *;
.location {
	background-color: $color;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1rem 0.5rem;
	border-radius: 12px;
	.p {
		display: inline-block;
	}
	span {
		color: $textSecondary;
		font-weight: bold;
	}
}
