@use "../index.scss" as *;
.WeatherType {
	border-radius: 12px;
	.image {
		img {
			margin: 0 auto;
			height: 120px;
			width: 120px;
		}
	}
	.text {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		justify-content: center;
		h6 {
			color: $textSecondary;
			font-size: 1.25rem;
		}
	}
}
