@use "../index.scss" as *;
.error {
	align-items: center;
	display: flex;
	height: 92dvh;
	justify-content: center;
	width: 100%;
	p {
		background-color: $color;
		border-radius: 12px;
		box-shadow: $boxShadow;
		color: $errorColor;
		font-size: 20px;
		font-weight: bold;
		margin: 1rem 0 0;
		padding: 2rem;
	}
}
