$bgColor: #373f51;
$headerColor: #fee440;
$color: #a9bcd0;
$text: #1b1b1e;
$footerColor: #e43f6f;
$errorColor: hsl(0, 80%, 60%);
$latoFont: "Lato", sans-serif;
$boxShadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
	rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
	rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

// https://www.joshwcomeau.com/css/custom-css-reset/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: $latoFont;
	background-color: $bgColor;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
ol,
ul {
	list-style: none;
}
// https://www.youtube.com/@slayingthedragon
// * xs */
@media (min-width: 475px) {
}
/* sm */
@media (min-width: 640px) {
}
/* md */
@media (min-width: 768px) {
}
/* lg */
@media (min-width: 1024px) {
}
/* xl */
@media (min-width: 1280px) {
}
/* 2xl */
@media (min-width: 1536px) {
}
.logo {
	align-items: center;
	display: flex;
	gap: 1rem;
	p {
		display: none;
		font-weight: bold;
	}
}
.search {
	display: flex;
	gap: 10px;
	.input {
		border: none;
		border-radius: 8px;
	}
	button {
		border: none;
		border-radius: 50vh;
		cursor: pointer;
		padding: 7px;
	}
	.input:focus {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
			rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	}
}
.time {
	width: 70px;
}
// * sm */
@media (min-width: 640px) {
	.logo p {
		display: block;
	}
}
/* md */
@media (min-width: 768px) {
	.search .input {
		width: 250px;
	}
	.logo p {
		font-size: 1.25rem;
	}
}
